html{
  background-image: url("./images/chairs-2181994_1280.jpg");
  
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;

}

body{
  background: unset;
}


.bg{

 
  height: 100vh;
  margin: auto;
  
}

.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  width: 100%;
  max-width: 35vh;
  height: 80vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.view overlay{
  background-image: url("./images/chairs-2181994_1280.jpg");

}
.createuser{
  size: initial;
  width: 50vh;
  height: 80vh;
  margin: auto;
  display: flex;
  align-items: center;
}

